body
{
    margin: 0;
    overflow: auto;
}

header
{
    position: relative;
    clear: both;
    width: 100%;
    background-color: #F5F5F5;
    border: solid 1px #F5F5F5;
    padding: 1%;
}

main
{
    padding-top: 2%;
}

ul
{
    list-style: none;
}

ul h2
{
    margin: 5px;
}

p
{
    position: relative;
    float: left;
    clear: both;
    width: 90%;
    margin: 0 5% 0 5%!important;
    font-size: 1.3em;
}

p.code
{
    position: relative;
    float: left;
    width: 40%;
    margin: 1% 0 0 5%!important;
    font-size: 1.3em;
    clear: right;
}


pre
{
    position: relative;
    float: left;
    clear: left;
    width: 45%;
    margin: 1% 0 0 2%!important;
    padding: 1%!important;
}